.footer {
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.notification#flash {
    position: absolute !important;
    right: 2em;
    top: 2em;
    z-index: 100 !important;
}
